<!DOCTYPE html>
<html>
    <head>
        {{ include("AppBundle::head.html.twig") }}
        {% block head %}

        {% endblock %}
        {% block stylesheets %}
            
        {% endblock %}
        <title>{% block title %}iFarm{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {{ include("AppBundle::menu.html.twig") }}

        {% block body %}
        {% endblock %}

        {{ include("AppBundle::footer.html.twig") }}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>



