{% extends "AppBundle::base.html.twig" %}


{% block title %}iFarm - pro moderní farmáře{% endblock %}

{% block body %}
    <div class="container">

        <div class="row" style="line-height: 130px;">
            <div class="col s12 m4 ">
                <h1 class="center-align">{{category.name}}</h1>
            </div>
            <div class="col s12 m4">
                <a class="waves-effect waves-light btn-large center-align z-depth-0" href={{url('item_create',{'typeStr': 'demand'})}}>
                    <i class="material-icons left">add</i>Vložit poptávku
                </a>
            </div>
            <div class="col s12 m4">
                <a class="waves-effect waves-light btn-large center-align z-depth-0" href={{url('item_create',{'typeStr': 'offer'})}}>
                    <i class="material-icons left">add</i>Vložit nabídku
                </a>
            </div>
        </div>

        <div class="row" style="line-height: 130px;">
            <div class="col s12 m2 ">
                <h3>Skupiny:</h3>
            </div>
            {% for gathering in category.gatherings %}
                <div class="col s12 m2 ">
                    <a class="waves-effect waves-light btn"><i class="material-icons left">supervisor_account</i>{{gathering.name}}</a>
                </div>
            {% endfor %}
        </div>

        <h2 class="center-align">Poptávky</h2>
        {% include 'AppBundle::Tables/itemsTable.html.twig' with {'items': demands, 'showOwner': true}%}

        <h2 class="center-align">Nabídky</h2>
        {% include 'AppBundle::Tables/itemsTable.html.twig' with {'items': offers, 'showOwner': true, 'ownerNaming': 'Nabízející'}%}

    </div>

{% endblock %}
