{% extends "AppBundle::base.html.twig" %}


{% block title %}iFarm - pro moderní farmáře{% endblock %}

{% block body %}
    <div class="container">

        <div class="row" style="line-height: 130px;">
            <div class="col s12 m4 offset-m4">
                <h1 class="center-align">Poptávky</h1>
            </div>
            <div class="col s12 m4">
                <a class="waves-effect waves-light btn-large center-align z-depth-0" href={{url('main_demandCreate')}}>
                    <i class="material-icons left">add</i>Vytvořit poptávku
                </a>
            </div>


        </div>
        {% if demands is empty %}
            <h3 class="center-align">Ještě nemáte vytvořenou poptávku</h3>
        {% else %}
            {% include 'AppBundle::Tables/demandTable.html.twig' %}            
        {% endif %}


    </div>

{% endblock %}
