<ul id="dropdown_kategorie" class="dropdown-content">
    {% for nodewrapper in categories %}
        <li>
            <a href="{{ path('main_category',{categoryUrl: nodewrapper.node.urlName}) }}" >{{nodewrapper.node.name}}</a>            
        </li>
        {% if nodewrapper.ancestors|length == 0 %}
            <li class="divider"></li>
            {% endif %}
        {% endfor %}
</ul>

