@menuText-black: #222;

.center-block{
    margin: 0 auto;
}

.space{
    height: 30px;
}

.bottom{
    vertical-align: baseline;
}

.bottom-block{

}

.table-second-column-bold{
    td:nth-child(2){
        font-weight: 600;
    }
}

//materialize
i.right {
    margin-left: 0px;
}

span.badge{
    position: relative;
    right: -8px;


}

span.badge.new:after{
    content: "";
}

.dropdown-content{
    overflow-y: initial;
}


// END of helpers


.nav-wrapper{
    color: @menuText-black;

    a{
        color: inherit;
        background-color: inherit;
    }

}

.dropdown-content{
    width: 170px;
}

.form_dropdown{
    width: 300px;
    background-color: #FFF;
    padding: 20px;
    position: absolute;
    right: 225px;
    z-index: 10;
}


.card-panel{

    .material-icons{
        margin-top: -4px;
        font-size: 34px;
    }

    h6{        
        font-size: 25px;
    }

}

.pointer{
    cursor: pointer;
}

.card-panel{
    padding: 14px;
}



