<div class="form_dropdown form_register center-block center-align z-depth-2">
    {{ form_start(form_register) }}
    {{ form_widget(form_register) }}
    {{ form_end(form_register) }}           
</div>